<a
  class="grid-block"
  href="<%= `${definitionPathPrefix}/blocks/${block.id}` %>"
  style="<%= `width: ${helpers.rand(100, 400)}px;` %>"
>
  <img src="<%= block.image.display.url %>" />
</a>

<%# add 'show' link to linked webpage %>
