<a
  class="grid-block"
  href="<%= `${definitionPathPrefix}/blocks/${block.id}` %>"
  style="<%= `width: ${helpers.rand(150, 250)}px;` %>; <%= `transform: rotate(${helpers.rand(-5, 5)}deg);` %>"
>
  <img src="<%= block.image.display.url %>" />
</a>

<%# add 'show' link to view full attachment on are.na %>
