<a
  class="grid-block"
  href="<%= `${definitionPathPrefix}/blocks/${block.id}` %>"
  style="<%= `width: ${helpers.rand(200, 350)}px;` %>; <%= `transform: rotate(${helpers.rand(-5, 5)}deg);` %>"
>
  <div class="block-content"><%- block.content_html %></div>
</a>
