<div class="stamp stamp-definition">
  <a>
    <div>
      <%- block.content_html %>
    </div>
  </a>
  <p>
    < VERSIONS >
    <% for (let definition of definitions) { %>
      <a href="<%= `/${definition.id}/` %>">
        <%= helpers.dateFnsFormat(new Date(definition.created_at),'MM.dd.yyyy' ) %>
      </a>
    <% } %>
  </p>
  <p>
    < EDITS? >
    please freely share any notes or edits you might have in
      <a href="https://www.are.na/johanna-flato/syn-site-edits" target="_blank" rel="noopener noreferrer">> this open are.na channel</a>.
  </p>
</div>
