<div class="stamp definition-wrapper">
  <button onclick="toggleVersions()">
    <b><%- block.title %></b>
  </button>
  <% if (title != 'syn-site') { %>
    <button onclick="toggleChannels()">
      <h2><%- title %></h2>
    </button>
  <% } %>
  <div class="edits">
    <a class="external-link" href="https://www.are.na/johanna-flato/syn-site-edits" target="_blank" rel="noopener noreferrer">add edits</a>
  </div>
  <%- include('lists/versions'); -%>
  <header class="definition-header">
    <h1 class="syn-site">syn·site</h1>
    <div class="pronounciation">sin.s&imacr;t</div>
    <div class="n">noun, verb</div>
  </header>
  <p class="etym">
    <b>SYN</b> (along with, at the same time | from Greek <i>SYN</i>, with | <span class="no-caps">~</span><i>SYNTHETIC</i>)
    <b>+ SITE</b> (<i>N:</i> point of event, occupied space, internet address; <i>V:</i> to place in position |
    from Latin <i>SITUS</i>, location, idleness, forgetfulness | <span class="no-caps">~</span><i>WEBSITE</i> <span class="no-caps">&not;</span><i>cite</i> <span class="no-caps">&not;</span><i>sight</i>),
    cf. <b>SITE/NON-SITE</b> (from Robert Smithson, <i>A PROVISIONAL THEORY OF NONSITES</i>, 1968)
  </p>
  <div id="definition-text" contenteditable="true" data-descr="click to edit">
    <%- block.content_html %>
  </div>
</div>
