<nav class="menu">
  <div class="breadcrumbs"></div>
  <ul class="links-list">
    <li>
      project by <a class="external-link" href="https://www.johannaflato.com/" target="_blank" rel="noopener noreferrer">Johanna Flato</a>
    </li>
    <li>
      powered by <a class="external-link" href="https://www.are.na/johanna-flato/syn-site" target="_blank" rel="noopener noreferrer">Are.na</a>
    </li>
    <li>
      <a class="fa" href="mailto:info@johannaflato.com">&#xf003;</a>
    </li>
  </ul>
</nav>
