html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.33;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  transition: 500ms;
}

a:visited {
  color: blue;
}

a.external-link::after {
  content: " ↗";
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3 {
  font-style: normal;
  font-size: 100%;
  margin: 0;
}

p {
  font-style: normal;
}

::-moz-selection {
  color: #333;
  background: #ffff4eab;
}

::selection {
  color: #333;
  background: #ffff4eab;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.links-list {
  list-style: none;
  padding-left: 1em;
}

.fa {
  font-size: 20px;
}

.grid {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 100VW;
  height: 100%;
  overflow-x: hidden;
}

.grid-block {
  float: left;
  width: var(--width);
  /* font-family: ibm-plex-mono, cousine, courier, monospace; */
  font-weight: 400;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  transform: rotate(var(--original-rotation));
  transition: 500ms;
  filter: grayscale(0.55);
  opacity: 0.65;
  mix-blend-mode: overlay;
}

  .grid-block > img {
    opacity: 0;
    transition: opacity 500ms;
    background-color: #ccc;
  }
    .grid-block > .img--loaded {
      opacity: 1;
    }

.grid-block:hover {
  transform: rotate(var(--hover-rotation));
  filter: grayscale(0);
  opacity: 1;
  z-index: 2;
}

  .channel-block {
    font-size: 14px;
    letter-spacing: 1.8px;
    width: auto;
    text-align: center;
    border:1px dashed blue;
    padding: var(--padding);
    margin: var(--margin);
    filter: grayscale(0);
  }

  .text-block {
    color: black;
    padding: 1.5em;
    text-align: left;
    font-size: 10px;
  }

  .text-block b {
    font-weight: 600;
  }

  .text-block:visited {
    color: black;
  }

.channel-title {
  position: absolute;
  top: 26vh;
  margin-top: -14px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1.8px;
  color: #666666;
}

  .channel-title p {
    display: inline-block;
    font-weight: 400;
  }

  .channel-title h2 {
    display: inline-block;
    font-weight: 400;
  }

.stamp {
  position: absolute;
  width: 15vw;
  height: 15vh;
}

  .blank-stamp-top-left {
    left: 0px;
    top: 0px;
  }

  .blank-stamp-top-right {
    right: 0px;
    top: 0px;
  }

  .definition-wrapper {
    left: 33vw;
    top: 30vh;
    width: 34vw;
    height: auto;
    border: none;
    margin: 0 1.5em 1.5em 1.5em;
    padding: 1em;
  }

.definition-header {
  padding: 0 0 0.5em 0;
}

  .syn-site {
    font-family: halyard-micro, Arial Black, 'Helvetica Neue', Helvetica, sans-serif;
    display: inline-block;
    font-size: 45px;
    font-weight: 600;
  }

    .syn-site::after,
    .pronounciation::after {
      content: "\00A0";
    }

    .pronounciation::before {
      content: "\2C8";
      font-family: helvetica, sans-serif;
      font-weight: 100;
    }

  .pronounciation {
    font-family: Arial;
    display: inline-block;
    height: 100%;
    font-size: 32px;
    letter-spacing: 1.8px;
  }

  .n {
    display: inline-block;
    height: 100%;
    font-size: 32px;
    font-style: italic;
  }

.etym {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: halyard-micro, Arial, 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: -0.25px;
  line-height: 1.1;
  font-weight: 300;
  font-variant-caps: all-small-caps;
  -moz-font-feature-settings: "c2sc", "smcp";
  -webkit-font-feature-settings: "c2sc", "smcp";
  font-feature-settings: "c2sc", "smcp";
}

.etym b {
  font-weight: 600;
}

.etym i {
  font-weight: 400;
}

.no-caps {
  font-variant-caps: normal;
}

.this-version {
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: blue;
}

.this-version:focus {
  color: #000;
  outline: none;
}

.line {
  padding: 0;
  margin: 0;
  display: inline-block;
  font-size: 22px;
}

#version-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  display: inline-block;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
}

  #version-wrapper li {
    display: inline-block;
  }

    #version-wrapper li::after {
      content: ",\00A0";
    }
/*
    #version-wrapper li:first-child::before {
        font-weight: 400;
        content: "\00A0of\00A0";
    } */

    #version-wrapper li:last-child::after {
        content: "";
    }

    .version a:visited {
      color: #666666;
    }

    .version a.w--current {
      color: tomato;
    }

    .version a:hover {
      color: blue;
    }

  .edits {
    display: inline-block;
  }

#definition-text {
  margin: 0.75em -1em 0 -1em;
  padding: 0.1em 1em 0.1em 1em;
  transition: 250ms;
}

  #definition-text:hover {
    background: #fcfcff;
    box-shadow: inset 1px 2px 7px 0px #e2e2ef;
  }

  #definition-text:focus {
    outline: none;
    background: ghostwhite;
    box-shadow: inset 1px 2px 7px 0px #bebed6;
  }

.block {
  display: flex;
  width: 100%;
  height: 75vh;
  align-items: center;
  justify-content: center;
  padding: 2em 0.75em 0.75em 0.75em;
}
  .block > img {
    max-width: 100%;
    max-height: 100%;
  }

.content-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  min-height: 25vh;
  margin: 0 auto;
}

.block-metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  min-height: 25vh;
  margin: 0 auto;
  padding: 5px 5px 2em 5px;
  font-size: 14px;
}

.block-metadata-title {
  font-size: 16px;
}

.connections {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
}

.connections li {
  display: inline-block;
}

.connections li::before {
  content: ",";
}

.connections li:first-child::before {
    content: "";
}

.connections li:nth-child(2)::before {
    content: "";
}
/*
.footer-gradient {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  margin-top: 0px;
  padding: 2em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), color-stop(40%, hsla(0, 0%, 100%, 0.3)), to(#fff));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3) 40%, #fff);
  }

/* @media only screen and (max-width: 600px) {
  body, html {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
  } */
