html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: white;
  color: #333;
  margin: 0;
  padding: 0;
  font-family: 'Cousine', sans-serif;
  font-size: 15px;
  line-height: 1.33;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  font-style: italic;
}

a:focus {
  color: purple;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3 {
  color: #333;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  margin: 0;
}

p {
  font-style: normal;
  color: #333;
}

.page-title {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  margin-top: 0px;
  padding: 2em;
  text-align: center;
  font-weight: normal;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(60%, hsla(0, 0%, 100%, 0.3)), to(hsla(0, 0%, 100%, 0)));
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.3) 60%, hsla(0, 0%, 100%, 0));
}

.channel-block {
  text-align: center;
  border:1px dashed blue;
  padding: var(--padding);
  margin: var(--margin);
}

.channel-block:hover {
  font-style: normal;
}

.block-content {
  margin: 1.5em;
  text-align: left;
  font-size: 10px;
  font-weight: normal;
}

.block-content-clicked {
  margin: 20em;
  text-align: left;
  font-weight: normal;
  border: 1px dashed #333;
  padding: 5em;
}

.grid {
  /* position: relative;
  overflow-x: hidden; */
  margin-top: -75px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  width: 100VW;
  overflow-x: hidden;
}

.grid-block {
  float: left;
  display: inline-block;
  opacity: 0.6;
  transform: rotate(var(--original-rotation));
  transition: 500ms;
  transition: 500ms;
}

  .grid-block > img {
    opacity: 0;
    transition: opacity 500ms;
    background-color: #ccc;
  }
    .grid-block > .img--loaded {
      opacity: 1;
    }

.grid-block:hover {
  opacity: 1;
  z-index: 2;
  transform: rotate(var(--hover-rotation));
}

.stamp {
  position: absolute;
  width: 300px;
  height: 300px;
}

  .blank-stamp-top-left {
    left: 0px;
    top: 0px;
    transform: rotate(45deg);
  }

  .blank-stamp-top-right {
    right: 0px;
    top: 0px;
    transform: rotate(45deg);
  }

  .blank-stamp-top-center {
    left: 40%;
    top: 0px;
    height: 100px;
    transform: rotate(-15deg);
  }

  .blank-stamp-index {
    left: 15%;
    top: 0px;
    width: 70VW;
    height: 120px;
    /* transform: rotate(-5deg); */
  }

  .stamp-definition {
    position: fixed;
    width: 40%;
    height: auto;
    border: none;
    margin-top: 0;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
    left: 25%;
    top: 30%;
  }

.block {
  display: flex;
  width: 100%;
  height: 75vh;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
  .block > img {
    max-width: 100%;
    max-height: 100%;
  }

.block-metadata {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 75%;
  min-height: 25vh;
  margin: 0 auto;
  padding: 5px;
}

.connections {
  display: inline-block;
}

.connection {
  display: inline-block;
}

.footer-gradient {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  margin-top: 0px;
  padding: 2em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), color-stop(40%, hsla(0, 0%, 100%, 0.3)), to(#fff));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.3) 40%, #fff);
  }

/* @media only screen and (max-width: 600px) {
  body, html {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
  } */
